[submodule "themes/vitepress-theme-curve"]
	path = themes/vitepress-theme-curve
	url = https://github.com/imsyy/vitepress-theme-curve.git
[submodule "themes/vitepress-theme-vuejs"]
	path = themes/vitepress-theme-vuejs
	url = https://github.com/vuejs/theme.git
[submodule "themes/vitepress-theme-teek"]
	path = themes/vitepress-theme-teek
	url = https://github.com/Kele-Bingtang/vitepress-theme-teek.git
